
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 130vh;
    gap: 10px;
  }
  .um, .dois, .tres, .quatro {
    width: 300px;
    height: 180px;
    background-color: gray;
  }

  .middle{
    margin-left: 115px;
    /* width: 60%; */
    height: 500px;
    background-color: grey;
  }
  .container-global{
    display: flex;
    gap: 60px;
    margin-top: 3%;
  }
 .description{
   font-family:Georgia, 'Times New Roman', Times, serif;
   color: black;
   font-size: 18px;
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 115px;
   
}
.video{
 width: 60%;
}

